data/
.idea/
__pycache__/
*.ini
*.pyc
rl_platform/d3rl_case/d3rlpy_logs
rl_platform/tianshou_case/ped_env/log
rl_platform/tianshou_case/derk/chromedata
rl_platform/tianshou_case/mario/log
rl_platform/tianshou_case/vizdoom/log
rl_platform/tianshou_case/vizdoom/r_network
rl_platform/tianshou_case/standard_gym/log
venv
venv_vizdoom
